:root {
  --azul-principal: #193c6c;
  --verde-sucesso: #7ed957;
  --amarelo-aviso: #ff751f;
  --vermelho-erro: #ea5555;
  --fundo-branco: #ffffff;
  --texto-principal: #a1b0c6;
  --texto-claro: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background-color: var(--fundo-branco);
  color: var(--texto-principal);
  text-align: center;
}

.tarjeta h2 {
  color: var(--azul-principal);
  font-size: 34px;
  font-weight: 700;
  margin: 10px 0;
}

.centered-text {
  font-size: 15px;
  line-height: 1.3;
  margin: 8px 0;
}

.lista-links {
  list-style: none;
  padding: 0;
  margin: 15px auto;
  width: 85%;
  max-width: 620px;
}

.lista-links li {
  background: var(--azul-principal);
  margin-bottom: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  transition: 0.2s;
}

.lista-links a,
.lista-links span {
  color: var(--texto-claro);
  text-decoration: none;
  font-weight: 500;
  display: block;
  font-size: 14px;
}

.lista-links li:hover {
  opacity: 0.92;
  transform: scale(1.01);
}

.lista-alunos {
  list-style: none;
  padding: 0;
  margin: 8px auto 16px auto;
}

.lista-alunos li {
  margin-bottom: 4px;
  font-size: 14px;
}

.status-disponivel {
  color: var(--verde-sucesso);
  font-weight: bold;
}

.status-pendente {
  color: var(--amarelo-aviso);
  font-weight: bold;
}

.status-ocupado {
  color: var(--vermelho-erro);
  font-weight: bold;
}

video {
  margin-top: 10px;
  border-radius: 10px;
  max-width: 100%;
}
